In [18]:
import os
import librosa
import numpy as np
import pandas as pd

In [30]:
path="Training Set"
X= np.zeros(1040)
Words=[]
Members=[]
for Audio in os.listdir(path):
    samples, sr= librosa.load(os.path.join(path, Audio))
    samples=librosa.util.fix_length(samples, int(2.5*sr))
    samples=librosa.resample(samples, orig_sr=sr, target_sr=8000)
    mfcc=librosa.feature.mfcc(y=samples,n_mfcc=13, sr=8000)
    delta=librosa.feature.delta(mfcc, order=2)
    mfcc=mfcc.reshape(-1)
    delta=delta.reshape(-1)
    features=np.array([*mfcc,*delta])
    X=np.vstack((X,features))
    Data= Audio.split("-")
    Words.append(Data[1].split()[0])
    Members.append(Data[0])
Data=pd.DataFrame(X).drop(0)
Data["Words"]=Words
Data["Members"]=Members

C:\Users\youss\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:7: FutureWarning: Pass size=55125 as keyword args. From version 0.10 passing these as positional arguments will result in an error
  import sys

In [31]:
Data.head()

,0,1,2,3,4,5,6,7,8,9,...,1032,1033,1034,1035,1036,1037,1038,1039,Words,Members
1,-494.442719,-446.736359,-418.882568,-416.183350,-438.488983,-441.462402,-413.064392,-342.913605,-255.765961,-126.827461,...,-0.712453,-0.787211,-0.252691,0.528310,0.528310,0.528310,0.528310,0.528310,Close,Dina
2,-463.740906,-430.131775,-436.342285,-431.971039,-438.200165,-452.394684,-457.875641,-413.608521,-263.109070,-120.595360,...,-0.242803,1.592775,2.300580,1.976762,1.976762,1.976762,1.976762,1.976762,Close,Dina
3,-413.477570,-335.808289,-327.797150,-358.080688,-387.227264,-409.735840,-425.828888,-352.720306,-205.935562,-79.195221,...,1.593605,1.741089,1.967274,1.333005,1.333005,1.333005,1.333005,1.333005,Close,Dina
4,-495.727112,-433.047577,-417.781982,-422.873718,-434.214752,-454.230957,-455.533936,-446.344696,-459.216736,-486.918671,...,2.003798,2.728658,2.263813,1.582158,1.582158,1.582158,1.582158,1.582158,Close,Dina
5,-469.194000,-427.163696,-410.921143,-415.183807,-415.142395,-413.229797,-412.836975,-413.699310,-395.962006,-387.676392,...,0.883883,2.398314,2.307803,1.956100,1.956100,1.956100,1.956100,1.956100,Close,Dina

In [35]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
print(Data.shape)
RData=Data[Data["Members"]=="Dina"]
scale= StandardScaler()
X=scale.fit_transform(RData.drop(["Words","Members"],axis=1))
X_train,X_test,y_train,y_test= train_test_split(X,RData["Words"],test_size=0.2,stratify=RData["Words"])
X_train.shape , X_test.shape,y_train.shape,y_test.shape

(84, 1042)

((22, 1040), (6, 1040), (22,), (6,))

In [47]:
pipe = Pipeline([('scaler', StandardScaler()), ('forest', RandomForestClassifier(n_estimators=150,n_jobs=-1))])

pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
Data.iloc[(y_test==y_pred).index,:]
(y_test==y_pred)

4     False
16     True
24    False
20     True
28    False
12    False
Name: Words, dtype: bool